<div class="container">  
    
  <h1> Product List </h1>  
    
  
<table >
  <thead>
    <tr>
      <th>ID</th>  
          <th>Name</th>  
          <th>Price</th>  
          <th>Address</th>
          <th></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productsList">  
      <td>{{ product.id }}</td>  
      <td>{{ product.name }}</td>  
      <td>{{ product.price }}</td>  
      <td>{{ product.address }}</td> 
      <td><button (click)="goToDetailsPage()">view Details</button></td> 
        <!-- <td><a routerLink="/details/:product.id" routerLinkActive="active">product details</a></td>   -->
      <!-- <td><a [routerLink]="['/details/' + product.id]" routerLinkActive="active"></a>details</td> -->

    </tr> 
  </tbody>
</table> 
</div>  
<router-outlet></router-outlet>
